@import "common.scss";
.wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    background:#efefef;
}
header{
   width:100%;
   height:pxTorem(44px);
   background:#fff;
   display:flex;
   justify-content:space-around;
   align-items:center;
   font-size:pxTorem(14px);
   line-height:pxTorem(44px);
   span.active{
       border-bottom:pxTorem(2px) solid slateblue;
       color:slateblue;   
   }
}
section{
   flex:1;
   overflow: hidden;
   .list{
      padding:pxTorem(10px) pxTorem(15px);
      box-sizing:border-box;
      background:#fff;
      margin-top:pxTorem(15px);
      .con{
          width:100%;
          height:pxTorem(100px);
          border-radius:pxTorem(10px);
          border:pxTorem(1px) solid #eee;
          margin:pxTorem(10px) 0;
          display:flex;
          flex-direction: column;
          overflow: hidden;
          .top{
              width:100%;
              height:pxTorem(50px);
              padding:pxTorem(10px);
              background:skyblue;
              box-sizing:border-box;
          }
          .bottom{
            padding:pxTorem(10px);
            box-sizing:border-box;
          }
      }
   }
}